body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

a {
    font-size: 1.5rem;
}

.start {
    margin-top: 30px;
    font-size: 30px;
    padding: 15px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}